body {
    background-color: #EFF0F2;
}
.black {
  color: black
}
.selected{
  border: 5x solid #fffff !important;
}
.black
{
  background-color: black!important;
}
.brown
{
  background-color: brown !important;
}
.red
{
  background-color: red !important;
}
.orange
{
  background-color: orange !important;
}
.yellow
{
  background-color: yellow !important;
}
.green
{
  background-color: green !important;
}
.blue
{
  background-color: blue !important;
}
.violet
{
  background-color: violet !important;
}
.grey
{
  background-color: grey !important;
}
.white
{
  background-color: white !important;
}
.gold
{
  background-color: gold !important;
}
.silver
{
  background-color: silver !important;
}
.text-center{
  text-align: center;
}
.white-color{
  color: white ;
}
.h-370{
  height: 436px !important;
}
.bbtn
{
  border: 0px;
  padding: 6px;
}
